body {
    margin-top: 20px;
    background-color: #f7f7ff;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.d-grid{
    grid-template-columns: 1fr 1fr;
} 

.fm-file-box {
    font-size: 25px;
    background: #e9ecef;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
}

.min-height-200 {
    min-height: 300px;
}

.no-data-row:hover {
    background-color: transparent !important;
    cursor: default !important;
}

.fixed-top-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
